body {
    margin: 0;
    background-color: #f2f4fc;
    font-family: Roboto, sans-serif;
    color: #292e47;
    font-size: 14px;
    line-height: 20px;
  }
  
  h1 {
    font-size: 20px;
  }
  
  .nav {
    margin-top: 70px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar-logo {
    width: 60px;
    height: 18px;
    background-image: url(project-assets/logos/circle.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .nav-link {
    padding: 20px;
    text-decoration: none;
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: #072ac8;
  }

  .navbar.container a {
    font-size: 17px;
  }
  
  .active {
    color: #0082f3;
  }
  
  .pricipal-btn {
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    color: white;
    text-decoration: none;
  }
  
  .pricipal-btn:hover {
    background-color: #292e47;
  }
  
  .hero {
    padding-top: 100px;
  }
  
  .card img {
    width: 20%;
  }
  
  .hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero-left {
    max-width: 530px;
  }
  
  .hero-title {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #292e47;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
  }
  
  .hero-text {
    margin-bottom: 40px;
    max-width: 435px;
    color: #6b708d;
    font-size: 20px;
    line-height: 150%;
  }
  
  .hero-button-1 {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .hero-right {
    position: relative;
  }
  
  .card-1 {
    position: absolute;
    left: -19%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-width: 375px;
  }
  
  .hero-img {
    width: 560px;
  }
  
  .card-2 {
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -22%;
    max-width: 375px;
  }
  
  .enterprises {
    margin-top: 130px;
  }
  
  .enterprises-logos {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .client-logo {
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
    justify-content: center;
    align-items: center;
  }
    
  .client-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .projects {
    margin-top: 200px;
    padding: 0 30px;
  }
  
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .projects-heading {
    color: #292e47;
    font-size: 40px;
    line-height: 36px;
    margin-top: 20px;
  }
  
  .services-heading {
    color: #292e47;
    font-size: 40px;
    line-height: 36px;
    margin-top: 20px;
  }
  
  .collection-list-wrapper {
    margin-top: 70px;
  }
  
  .collection-list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  
  .project-card {
    display: flex;
    width: 340px;
    height: 444px;
    max-height: 444px;
    max-width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
  }
  
  .project-card-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  
  .project-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-title {
    margin: 30px 30px 20px;
    color: #292e47;
    font-size: 24px;
    line-height: 115%;
    font-weight: 500;
  }
  .project-title.project-description {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 400;
  }
  .project-link {
    margin: 30px;
    color: #072ac8;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .testimonials-section {
    position: relative;
    max-width: 1320px;
    padding: 0px 30px;
    height: 622px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #292e47;
    background-image: url(project-assets/testimonial-section/orbit.png);
    background-position: 0px 0px;
    background-size: contain;
    color: #292e47;
  }
  
  .testimonials-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .testimonial-heading {
    color: #ecf7ff;
    font-size: 40px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .testimonial-text {
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
  }
  
  .client {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
  
  .client-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(project-assets/testimonial-section/profile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .client-info {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .client-name {
    color: #a2d6f9;
    font-size: 17px;
  }
  
  .client-position {
    color: #ecf7ff;
    font-size: 13px;
  }
  
  .emoji-top-left {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 5%;
    margin-left: 10%;
    background-image: url(project-assets/testimonial-section/memoji-1.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .emoji-top-right {
    position: absolute;
    width: 150px;
    height: 150px;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 5%;
    margin-right: 10%;
    background-image: url(project-assets/testimonial-section/memoji-2.png);
    background-position: 50% 50%;
    background-size: contain;
  }
  
  .emoji-bottom-left {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding-left: 0%;
    background-image: url(project-assets/testimonial-section/memoji-3.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .emoji-bottom-right {
    position: absolute;
    width: 150px;
    height: 150px;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-image: url(project-assets/testimonial-section/memoji-4.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .subscribe-section {
    width: 1320px;
    height: 500px;
    max-width: 1320px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc600;
    padding: 0px 30px;
    align-items: center;
  }
  
  .subscribe-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .subscribe-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #292e47;
    font-size: 40px;
    line-height: 44px;
  }
  
  .subscribe-subtitle {
    font-size: 17px;
    color: #6b708d;
  }
  
  .form {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
  }
  
  .sus-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textfield-wrapper {
    position: relative;
  }
  
  .textfield-icon {
    position: absolute;
    left: 7%;
    top: 30%;
    right: auto;
    bottom: auto;
    width: 30px;
    height: 30px;
    background-image: url(project-assets/newsletter/icon/mail.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  
  .text-field {
    all: unset;
    width: 393px;
    height: 80px;
    font-size: 16px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: #ecf7ff;
    border: 1px solid #cccccc;
  }
  
  .primary-btn-form {
    width: 180px;
    height: 80px;
    margin-left: 20px;
    padding-right: 60px;
    padding-left: 60px;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
  
  .primary-btn-form:hover {
    background-color: #292e47;
  }
  
  .footer-section {
    margin-top: 200px;
    padding-bottom: 100px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .footer-content {
    display: flex;
    width: 260px;
    max-width: 260px;
    flex-direction: column;
  }
  
  .footer-content-logo {
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    background-image: url(project-assets/logos/circle.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .footer-content-address {
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
  }
  
  .footer-links {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .footer-link {
    font-size: 17px;
    text-decoration: none;
    color: #0000ee;
  }
  
  .services-section {
    margin-top: 200px;
    padding: 0 30px;
  }
  
  .projects-heading {
    color: #292e47;
    font-size: 40px;
    line-height: 44px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .services-heading {
    color: #292e47;
    font-size: 40px;
    line-height: 44px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .services-grid {
    display: grid;
    margin-top: 70px;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .service-card {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .service-icon {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-image: url(project-assets/services-section/icons/1.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  
  .service-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-title {
    margin: 30px 30px 20px;
    color: #292e47;
    font-size: 24px;
    line-height: 115%;
    font-weight: 500;
  }
  
  .project-title.project-description {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 400;
  }
  
  .project-link {
    margin: 30px;
    color: #072ac8;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .service-icon.icon-2 {
    background-image: url(project-assets/services-section/icons/2.svg);
  }
  
  .service-icon.icon-3 {
    background-image: url(project-assets/services-section/icons/3.svg);
  }

  /* responsive design */

  @media screen and (max-width: 991px) {
    .container.navbar {
        padding-right: 30px;
        padding-left: 30px;
    }

    .container.hero-container {
        flex-direction: column;
    }

    .container.contact-container {
        margin-top: 0px;
    }

    .navbar-2.contact {
        margin-top: 0px;
    }

    .button.principal-btn {
        display: none;
    }

    .button.principal-btn.hero {
        display: block;
        margin-left: 0px;
    }

    .button.principal-btn.cta-button {
        display: block;
    }

    .button.principal-btn.contact {
        display: block;
    }

    .section.hero {
        padding-top: 0px;
    }

    .section.projects {
        margin-top: 40px;
    }

    .section.services {
        margin-top: 40px;
    }

    .section.cta-section {
        display: flex;
        max-width: 100%;
        margin-top: 60px;
        flex-direction: row;
    }

    .section.footer {
        margin-top: 60px;
    }

    .section.project {
        margin-top: 0px;
    }

    .hero-content {
        display: flex;
        max-width: 700px;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .hero-image {
        margin-top: 40px;
    }

    .heading-2.hero-heading {
        text-align: center;
    }

    .text-block.hero-description {
        max-width: 600px;
        text-align: center;
    }

    .hero-buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .enterprises-logos {
        justify-items: center;
        align-items: center;
        grid-column-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .client-logo.amazon {
        display: none;
    }

    .testimonial-heading {
        max-width: 400px;
        margin-bottom: 0px;
        line-height: 150%;
    }

    .subscribe-heading {
      max-width: 400px;
      margin-bottom: 0px;
      line-height: 150%;
      align-items: center;
    }

    .emoji.top-left {
        width: 100px;
        height: 100px;
    }

    .emoji.top-right {
        width: 100px;
        height: 100px;
    }

    .emoji.bottom-left {
        width: 100px;
        height: 100px;
    }

    .emoji.bottom-right {
        width: 100px;
        height: 100px;
    }

    .collection-list {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .menu-button {
        display: block;
        color: #292e47;
    }
}

@media screen and (max-width: 767px) {
    .container.logos {
        margin-top: 40px;
    }

    .container.testimonial {
        height: 100%;
        justify-content: space-around;
    }

    .container.subscribe {
      height: 100%;
      justify-content: space-around;
    }

    .container.container-cta {
        max-width: 100%;
    }

    .container.footer {
        flex-direction: column;
        align-items: center;
    }

    .button.principal-btn.cta-button {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .section.testimonial {
        height: 450px;
    }

    .section.subscribe {
      height: 450px;
    }

    .section.cta-section {
        width: 100%;
    }

    .heading-2.hero-heading {
        font-size: 40px;
    }

    .text-block.hero-description {
        font-size: 17px;
    }

    .hero-card-1 {
        display: none;
    }

    .hero-card-2 {
        display: none;
    }

    .projects-heading {
        text-align: center;
    }

    .services-heading {
      text-align: center;
    }

    .subscribe-heading {
      text-align: center;
    }

    .project-card {
        width: 100%;
        max-width: 100%;
    }

    .emoji-bottom-left {
        display: none;
    }

    .emoji-bottom-right {
        display: none;
    }

    .emoji-top-left {
        display: none;
    }

    .emoji-top-right {
        display: none;
    }

    .services-grid {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .service-card {
        max-width: 100%;
    }

    .service-icon.icon-1 {
        flex: 0 0 auto;
    }

    .service-icon.icon-2 {
        flex: 0 0 auto;
    }

    .service-icon.icon-3 {
        flex: 0 0 auto;
    }

    .cta-heading {
        font-size: 30px;
    }

    .cta-form {
        flex-direction: column;
    }

    .form-block {
        flex-direction: column;
    }

    .footer-content {
        align-items: center;
    }

    .footer-links {
        margin-top: 20px;
    }

    .footer-content-address {
        text-align: center;
    }

    .collection-list {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .collection-list-wrapper {
        margin-top: 20px;
    }

    .project-page-title {
        font-size: 40px;
    }

    .project-type-wrapper {
        flex-direction: column;
    }

    .project-page-type {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .project-image-wrapper {
        margin-top: 40px;
    }

    .contact-heading {
        margin-bottom: 40px;
        font-size: 40px;
    }

    .contact-form-wrapper {
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    .contact-form {
        width: 100%;
        max-width: 100%;
    }

    .collection-item {
        max-width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .principal-btn.hero {
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

    .heading-hero.hero-title {
        font-size: 30px;
    }

    .hero-buttons {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-button-1 {
        text-align: center;
    }

    .enterprises-logos {
        width: 100%;
        max-width: 100%;
        grid-auto-flow: row;
        grid-column-gap: 20px;
    }

    .client-logo {
        width: 120px;
    }

    .projects-heading {
        font-size: 30px;
    }

    .services-heading {
      font-size: 30px;
    }

    .subscribe-heading {
      font-size: 30px;
      align-items: center;
    }

    .testimonial-heading {
        font-size: 30px;
    }

    .text-field {
        width: 100%;
    }

    .form-block {
        max-width: 100%;
    }

    .contact-form-wrapper {
        grid-auto-columns: 1fr;
    }

    .contact-text-wrapper {
        max-width: 100%;
    }
}